.bigChart {
  width: 100%;
  background-color: #fff;
  border-radius: 2rem;
}
.title {
  padding: 1rem 0;
  transform: translateX(300%);
  transition: transform 0.6s ease-in-out;
}

.bigChartContent {
  width: 100%;
  height: fit-content;
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
}
.titleOn {
  transform: translateX(0);
}
.chartOn {
  transform: translateX(0);
}
.backBtn {
  display: inline-block;
  padding: 1rem 1rem;
}
.backBtn p {
  margin: 0;
}
.backBtn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #2451b7;
  transition: width 0.4s ease-in-out;
}
.backBtn:hover::after {
  width: 100%;
}
.backBtn:hover {
  color: #2451b7;
  cursor: pointer;
}
@media (min-width: 992px) {
  .bigChart {
  }
}
