* {
  box-sizing: border-box;
}
body {
  background-color: #f3f4f5;
  font-size: 20px;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 992px) {
  body {
    overflow: hidden;
  }
}
